<% include ../layout/head %>
<% include ../layout/menu %>
<% include ../layout/script %>

    <div class="container">
    
        <form class="well form-horizontal" action="" method="post" id="contact_form">
            <fieldset>

                <div class="form-group">
                    <label class="col-md-4 control-label">Nom</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <p name="name" placeholder="Nom" class="form-control" type="text"><%= contactGroup.name %></p>
                        </div>
                    </div>
                </div>
        
                <div class="form-group">
                    <label class="col-md-4 control-label">Liste des contacts</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="imput-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            
                        </div>
                    </div>
                </div>
        
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4"><br>
                        <button type="submit" class="btn btn-warning">Retour </button>
                    </div>
                </div>
    
            </fieldset>
        </form>
    </div>
    </div>