<% include layout/head %>
<% include layout/menu %>
<% include layout/script %>


    <div >
        
    </div>

<div class="container">

    <form class="well form-horizontal" action="" method="post" id="contact_form">
        <fieldset>

            <div>
                <h3>Confirmation de la suppression</h3>
            </div>
            <div>
                <p>Etes-vous sûr de vouloir supprimer cet élément ?</p>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4"><br>
                    <a href="/" class="btn btn-info" id="confirmModalNo">Annuler</a>
                    <button type="submit" class="btn btn-danger">Supprimer
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
</div><!-- /.container -->