<% include layout/head %>
<% include layout/menu %>
<% include layout/script %>

    <div class="container">
    
        <form class="well form-horizontal" action="" method="post" id="contact_form">
            <fieldset>

                <!-- Text input-->
                
                <div class="form-group">
                    <label class="col-md-4 control-label">Nom</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="name" placeholder="Nom" class="form-control" type="text">
                        </div>
                    </div>
                </div>
    
                <!-- Text input-->
    
                <div class="form-group">
                    <label class="col-md-4 control-label">Prénom</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="firstName" placeholder="Prénom" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
    
                <div class="form-group">
                    <label class="col-md-4 control-label">Numéro</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input name="number" placeholder="0600000000" class="form-control" type="text">
                        </div>
                    </div>
                </div>
        
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4"><br>
                        <button type="submit" class="btn btn-warning">Enregistrer 
                            <span class="glyphicon glyphicon-send"></span>
                        </button>
                    </div>
                </div>
    
            </fieldset>
        </form>
    </div>
    </div><!-- /.container -->