<script type="text/javascript">
    function deleteClick() {
    }
</script>

<table class="table">
    <thead>
        <tr>
            <th class="text-center" scope="col">Nom</th>
            <th class="text-center" scope="col">Prénom</th>
            <th class="text-center" scope="col">Numéro</th>
            <th class="text-center" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <!-- Tableau dynamique plus qu'à le faire foncitonnement
        des boutons "Modifier" et "Supprimer" et les liens vers la page de détails -->
        
        <% for(var i = 0 ; i < contacts.length ; i++) { %>
        <tr>
            <td class="text-center"><button class="btn btn-link"><%= contacts[i].name %></button></td>
            <td class="text-center"><button class="btn btn-link"><%= contacts[i].firstName %></button></td>
            <td class="text-center"><button class="btn btn-link"><%= contacts[i].number %></button></td>
            <td class="text-right" >
                <div class="btn-group">
                    <button class="btn">Modifier
                        <span class="glyphicon glyphicon-pencil"></span></button>
                    <button id="btn-delete" class="btn btn-danger" onclick="deleteClick()">Supprimer
                        <span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>